@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400..800&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    /*scroll-padding-top: 40px;*/
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;

    --main-nav-width: 10rem;
    --sub-nav-width: 200px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}