:root {
    --main-nav-width: 11rem;
    --sub-nav-width: 12rem;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    /*scroll-padding-top: 40px;*/
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}